/* ==========================================================================
   Contrast skin
   ========================================================================== */

/* Colors */
$text-color: #242637 !default;
$muted-text-color: $text-color !default;
$primary-color: #5b92ff !default;
$border-color: mix(#fff, $text-color, 75%) !default;
$footer-background-color: #9bb4ff !default;
$link-color: #404053 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default; 
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

/* contrast syntax highlighting (base16) */
$base00: #2e3440 !default; /* Background - dark */
$base01: #3b4252 !default; /* Darker background */
$base02: #434c5e !default; /* Slightly lighter background */
$base03: #4c566a !default; /* Light background shade */
$base04: #d8dee9 !default; /* Light text color */
$base05: #e5e9f0 !default; /* Slightly darker text */
$base06: #eceff4 !default; /* Text color - light */
$base07: #ffffff !default; /* White - highlights */
$base08: #bf616a !default; /* Red - Errors, Warnings */
$base09: #d08770 !default; /* Orange - Keywords */
$base0a: #ebcb8b !default; /* Yellow - Strings */
$base0b: #a3be8c !default; /* Green - Functions, Variables */
$base0c: #88c0d0 !default; /* Cyan - Syntax highlights */
$base0d: #81a1c1 !default; /* Blue - Links, Attributes */
$base0e: #b48ead !default; /* Purple - Types */
$base0f: #ab7967 !default; /* Brown - Miscellaneous */

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}
